body {
    margin: 1em;
}

table {
    text-align: left;
}

th {
    padding 5px;
}

td {
    padding-right: 10px;
}

#disclaimer {
  max-width: 600px;
  background-color: #eee;
  padding: 5px;
  border: thin solid #ccc;
}
