<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        {% block style_css %}
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css"
        />
        <style>
.container {
    margin: 1em;
    border: none;
}

.row {
    display: flex;
}

.item {
    flex: 1;
    margin: 1em;
    border: none;
}
        {% endblock style_css %}
        {% block style_css_extra %}
        {% endblock style_css_extra %}
        </style>

        {% block javascript %}
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        {% endblock javascript %}

        {% block javascript_extra %}
        {% endblock javascript_extra %}
    </head>

    <body>
        <div class='container'>
            <div class='row'>
                <p class='item'>
                  <a href='/'>home</a>
                  &nbsp; | &nbsp;
                  {% if twitter_user %}
                  <a href='/logout'>logout</a>
                  &nbsp; | &nbsp;
                  <a href="https://twitter.com/{{ twitter_user }}">{{ twitter_user }}</a>
                  {% else %}
                  <a href='/login'>login</a>
                  {% endif %}
                </p>
            </div>
            <div class='row'>
                <h1 class='item' id='title'>{{ title }}</h1>
            </div>
            <div id='content'>
{% block content %}
{% endblock content %}
            </div>
        </div>
    </body>
</html>
