{% extends "base.html" %}

{% block content %}

<h1>hi there 
  {% if twitter_user %}
  <a href="https://twitter.com/{{ twitter_user }}">{{ twitter_user }}</a>
  {% endif %}
</h1>

<p id="disclaimer">
<em>This is a design prototype for the <a href="http://www.docnow.io">Documenting the Now</a> project. If you have any questions please let us know what you think in our <a href="https://docs.google.com/forms/d/e/1FAIpQLSf3E7PAXPoT-XoedpEy9UCTpDPS8kPj5JkMwpaWbuqVP0bTrQ/viewform">Slack</a> channel, or by emailing <a href="mailto:info@docnow.io">info@docnow.io</a></em>
</p>

<div id="searches">
</div>

<script type="text/babel" src="/static/js/index.js"></static>

{% endblock content %}
