{% extends "base.html" %}

{% block style_css_extra %}
{% endblock style_css_extra %}

{% block javascript_extra %}
<script type="text/javascript">
var date_path = d3.select("#date_path").text();
d3.json("/summary/" + date_path + "/summary.json", function(e, summary) {
    if (e) return console.warn(e);
    d3.select('#title').text("Compare: " + summary.term);
    d3.select('#date').text(summary.date);
    var num_tweets = parseInt(summary.num_tweets);
    d3.select('#num_tweets').text(num_tweets.toLocaleString());
});


</script>
{% endblock javascript_extra %}

{% block content %}
<div class="row">
    <h2 class="item">
        Compare #<span id="search_id">{{ search.id }}</span>:
        <span id="num_tweets"></span>
        tweets collected on
        <span id="date"></span>
        <span id="date_path" style="display:none;">{{ search.date_path }}</span>
    </h2>
</div>
{% endblock content %}
