{% extends "base.html" %}

{% block style_css_extra %}
.bar {
    fill: steelblue;
}

.bar:hover {
    fill: gold;
}

.axis {
    font: 12px sans-serif;
}

.axis path, line {
    fill: none;
    stroke: #000000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.tipinfo {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.tipinfo {
    line-height: 1;
    padding: 12px;
    font: 13px sans-serif;
    text-align: center;
}

/* Creates a small triangle extender for the tooltip */
.tipinfo:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.tipinfo.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
{% endblock style_css_extra %}

{% block javascript_extra %}
<script type="text/javascript"
        src="https://rawgit.com/Caged/d3-tip/v0.6.7/index.js"></script>
<script type="text/javascript">
var date_path = window.location.pathname.split('/')[2];

d3.json("summary.json", function(e, summary) {
    if (e) return console.warn(e);
    d3.select('#title').text(summary.term);
    var num_tweets = parseInt(summary.num_tweets);
    d3.select('#num_tweets').text(num_tweets.toLocaleString());
    d3.select('#date').text(summary.date);
    // repeat for form field
    var inputText = d3.select('#text');
    inputText.property("value", summary.term);
    // 1.2 is completely arbitrary :)
    var newLength = summary.term.length * 1.2;
    if (newLength > 50) { newLength = 50 };
    inputText.property("size", newLength);
    d3.select('#count').property("value", num_tweets.toLocaleString());
});

var margin = {t: 20, r: 30, b: 120, l: 70};
var width = 480 - margin.l - margin.r;
var height = 480 - margin.t - margin.b;

var x = d3.scale.ordinal().range([0, width])
    .rangeRoundBands([0, width], .1);
var y = d3.scale.linear().range([height, 0]);

var x_axis = d3.svg.axis().scale(x).orient("bottom");
var y_axis = d3.svg.axis().scale(y).orient("left")
    .tickFormat(d3.format("d"));


d3.json("/api/searches/" + date_path + "/hashtags/", function(e, data) {
    if (e) return console.warn(e);
    chart("hashtags", data, "hashtag", "#");
});

d3.json("/api/searches/" + date_path + "/mentions/", function(e, data) {
    if (e) return console.warn(e);
    chart("mentions", data, "screen_name", "@");
});

d3.csv("count-domains.csv", function(e, data) {
    if (e) return console.warn(e);
    chart("domains", data, "url", null);
});

d3.csv("count-urls.csv", function(e, data) {
    if (e) return console.warn(e);
    chart("urls", data, "url", null);
});

d3.csv("count-followers.csv", function(e, data) {
    if (e) return console.warn(e);
    chart("followers", data, "user", "from:");
});

d3.csv("follow-ratio.csv", function(e, data) {
    if (e) return console.warn(e);
    chart("follow-ratio", data, "user", "from:");
});

var media_counts = {};
d3.csv("count-media.csv", function(e, data) {
    if (e) return console.warn(e);
    for (i in data) {
        media_counts[data[i]["file"]] = data[i]["count"];
    };
    data.sort(function(a, b) { return b.count - a.count; });
    top_ten = data.slice(0, 10);
    var media_row = d3.select("#media")
        .append("div")
            .attr("class", "image row");

    media_row.selectAll(".image .row")
        .data(top_ten)
      .enter()
        .append("div")
            .attr("class", "item")
            .text(function(d) { return d.count; })
        .append("a")
            .attr("href", function(d) { return "media/" + d.file; })
        .append("img")
            .attr("width", "100")
            .attr("src", function(d) { return "media/" + d.file; });
});

var images;
d3.json("media-graph.json", function(e, data) {
    if (e) return console.warn(e);
    // for each set
    for (i in data) {
        images = data[i]
        images.sort(function(a, b) {
            return media_counts[b] - media_counts[a];
        });
        total = d3.sum(images, function(d) { return media_counts[d]; });
        // render one representative image large
        var match_row = d3.select("#media-matches")
            .append("div")
                .attr("class", "match row");
        match_row.append("div")
            .append("p")
                .text(total + " total, " + media_counts[images[0]])
            .append("a")
                .attr("href", function(d) { return "media/" + images[0]; })
            .append("img")
                .attr("width", "300")
                .attr("src", "media/" + images[0]);

        // skip the first one we just showed
        images.shift();

        // render each image small
        match_row.selectAll(".row .match")
            .append("div")
                .attr("class", "item matches")
            .data(images)
          .enter()
            .append("div")
            .append("p")
                .text(function(d) { return media_counts[d]; })
            .append("a")
                .attr("href", function(d) { return "media/" + d; })
            .append("img")
                .attr("width", "128")
                .attr("src", function(d) { return "media/" + d; });
    };
});


function chart(id, data, fieldname, searchPrefix) {
    data.sort(function(a, b) { return b.count - a.count; });
    data = data.slice(0, 25);

    x.domain(data.map(function(d) { return d[fieldname]; }));
    y.domain([0, d3.max(data, function(d) { return parseInt(d.count); })]);

    var svg = d3.select("#" + id).append("svg")
        .attr("width", width + margin.l + margin.r)
        .attr("height", height + margin.t + margin.b)
      .append("g")
        .attr("transform", "translate(" + margin.l + "," + margin.t + ")");

    var tipinfo = d3.tip()
        .attr('class', 'tipinfo')
        .offset([-10, 0])
        .html(function(d) {
            var tipText = d[fieldname] + ": " + d.count;
            if (searchPrefix != null) {
                tipText = tipText + "<br />" + "<br />" + "click to add";
            }
            return tipText;
        });
    svg.call(tipinfo);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(x_axis)
        .selectAll("text")
            .style("text-anchor", "end")
            .style("cursor", "pointer")
            .on("click", function(d) {
                var id = $(this).parents("div").attr("id");
                var url = null;
                var specs = null;
                if (id == "hashtags") {
                    url = "https://twitter.com/search?q=%23" + d;
                } else if (id == "domains") {
                    url = "http://" + d;
                } else if (id == "urls") {
                    url = "https://webrecorder.io/live/" + d;
                } else {
                    url = "https://twitter.com/intent/user?screen_name=" + d;
                    specs = "location=no,height=570,width=520,scrollbars=no,status=yes";
                }
                window.open(url, "_blank", specs);
            })
            .attr("dx", "-1em")
            .attr("dy", ".15em")
            .attr("transform", "rotate(-65)");

    svg.append("g")
        .attr("class", "y axis")
        .call(y_axis);

    svg.selectAll(".bar")
        .data(data)
      .enter().append("g")
        .on('mouseover', tipinfo.show)
        .on('mouseout', tipinfo.hide)
        .on('click', function(d) {
            if (searchPrefix != null) {
                var inputText = d3.select('#text');
                var oldValue = inputText.property("value");
                var affixValue = searchPrefix + d[fieldname];
                if (oldValue.indexOf(affixValue) == -1) {
                    var newValue = oldValue + " " + searchPrefix + d[fieldname];
                    inputText.property("value", oldValue + " " + affixValue);
                    var newLength = inputText.property("value").length;
                    if (newLength > 50) {
                        newLength = 50
                    } else {
                        inputText.property("size", newLength * 1.2);
                    }
                }
            }
        })
        .append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d[fieldname]); })
        .attr("width", x.rangeBand())
        .attr("y", function(d) { return y(d.count); })
        .attr("height", function(d) { return height - y(d.count); });
};
</script>
{% endblock javascript_extra %}

{% block content %}
<div class="row">
    <h2 class="item">
        <span id="num_tweets"></span>
        tweets collected on
        <span id="date"></span>
    </h2>
</div>
<div class="row">
    <h3 class="item">Modify your search:</h3>
</div>
<div class="row">
    <form class="item" action="/searches/" method="POST">
        terms: <input id="text" type="text" name="text" />
        count: <input id="count" type="text" name="count" value="1000" size="8"/>
        <input type="submit" value="add" />
    </form>
</div>
<div class="row">
    <div id="hashtags" class="item">
        <h3>Popular hashtags</h3>
    </div>
    <div id="mentions" class="item">
        <h3>Most mentioned users</h3>
    </div>
</div>
<div class="row">
    <div id="domains" class="item">
        <h3>Common domains</h3>
    </div>
    <div id="urls" class="item">
        <h3>Most referenced URLs</h3>
    </div>
</div>
<div class="row">
    <div id="followers" class="item">
        <h3>Most Followers</h3>
    </div>
    <div id="follow-ratio" class="item">
        <h3>Follow Ratio (friends / following)</h3>
    </div>
</div>
<div class="row">
    <div id="media" class="item">
        <h3>Common images</h3>
    </div>
</div>
<div class="row">
    <div id="media-matches" class="item">
        <h3>Matching images</h3>
    </div>
</div>
<div class="row">
    <div id="rawdata" class="item">
        <h3>Raw data</h3>
        <p>
        Download the raw data behind these charts.
        </p>
        <ul>
            <li><a href="count-domains.csv">count-domains.csv</a></li>
            <li><a href="count-followers.csv">count-followers.csv</a></li>
            <li><a href="count-hashtags.csv">count-hashtags.csv</a></li>
            <li><a href="count-media.csv">count-media.csv</a></li>
            <li><a href="count-mentions.csv">count-mentions.csv</a></li>
            <li><a href="count-urls.csv">count-urls.csv</a></li>
            <li><a href="follow-ratio.csv">follow-ratio.csv</a></li>
            <li><a href="tweets.json">tweets.json</a></li>
        </ul>
    </div>
</div>

{% endblock content %}
